<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/acpt.js"></script>-->
    <title th:text="${title}"></title>
</head>
<body>

<form>
    <div class="form-row">
        <div class="col" >
            <input type="text" class="form-control" placeholder="Hexadecimal" id="hexadecimal">
        </div>

        <div class="col" id="convertToInstruction">
            <button>Convert To Instruction</button>
        </div>

        <div class="col" >
            <input type="text" class="form-control" placeholder="Instruction" id="instruction">
        </div>

        <div class="col" id="convertToHexadecimal">
            <button>Convert To Hexadecimal</button>
        </div>
    </div>
    <div class="form-row">
        <div class="col" id="hexadecimalResult">

        </div>
        <div class="col" id="instructionResult">

        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            var hexadecimal_sel = $("#hexadecimal");
            var instruction_sel = $("#instruction");

            var hexadecimalResultSel=$("#hexadecimalResult");
            var instructionResultSel=$("#instructionResult");


            $("#convertToInstruction").click(function (event) {
                $(hexadecimalResultSel).children().remove();
                event.preventDefault();
                $.ajax({
                    url:location.origin+"/acpt/hexadecimal",
                    type:'put',
                    contentType: "text/plain",
                    // dataType:"text/plain",
                    data:hexadecimal_sel.val()
                }).done(function(data){
                    for(var key in data){
                        if(key==="instruction"){
                            var divResult = $('<div>', {
                                class: 'col',
                                text:key+": "+data[key]
                            })
                        }else{
                            var divResult = $('<div>', {
                                class: 'col',
                                text:key+": "+data[key].value
                            })
                        }

                        hexadecimalResultSel.append(divResult);
                    }
                    // hexadecimalResultSel.val(data);
                }).fail(function(data){
                    // console.log(data.responseText);
                    // hexadecimalResultSel.val(data.responseText);
                })

            })

            $("#convertToHexadecimal").click(function (event) {
                $(instructionResultSel).children().remove();
                event.preventDefault();
                $.ajax({
                    url:location.origin+"/acpt/instruction",
                    type:'put',
                    contentType: "text/plain",
                    // dataType:"text/plain",
                    data:instruction_sel.val()
                }).done(function(data){
                    for(var key in data){
                        if(key==="instruction"){
                            var divResult = $('<div>', {
                                class: 'col',
                                text:key+": "+data[key]
                            })
                        }else{
                            var divResult = $('<div>', {
                                class: 'col',
                                text:key+": "+data[key].value
                            })
                        }
                        instructionResultSel.append(divResult);
                    }
                }).fail(function(data){
                    // console.log(data.responseText);
                    // instructionResultSel.val(data.responseText);
                })

            })
        })
    </script>
</form>

</body>
</html>