<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="js/rco1.js"></script>-->
    <title th:text="${title}"></title>
</head>
<body>

<form>
    <div class="form-row">
        <div class="col" >
            <input type="text" class="form-control" placeholder="Distance" id="distance">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Velocity" id="velocity">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Frame lenght" id="framelenght">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Bit rate" id="bitrate">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Propagation time" id="tp">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Frame time" id="tf">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="A" id="a">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Utilization" id="utilization">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Windows" id="window_number">
        </div>
        <div class="col" >
            <input type="text" class="form-control" placeholder="Sequence bits" id="frame_bits">
        </div>
        <div class="col" id="calculate">
            <button>Calculate</button>
        </div>
    </div>
</form>

<form>
    <div id="results" ></div>
</form>

<script type="text/javascript">
    $(function () {

        var distance_sel = $("#distance");
        var vel_sel = $("#velocity");
        var fl_sel = $("#framelenght");
        var bit_sel = $("#bitrate");
        var tp_sel = $("#tp");
        var tf_sel = $("#tf");
        var a_sel = $("#a");
        var u_sel = $("#utilization");
        var w_sel = $("#window_number");
        var frame_bits_sel = $("#frame_bits");

        var div_results_sel = $("#results");

        /*bit_sel.val("4000");
        tp_sel.val("0.02");
        u_sel.val("0.5");
        */

        /*
        fl_sel.val(512);
        bit_sel.val(1544000);
        distance_sel.val(3000000);
        vel_sel.val(16700000000);
        */

        /*
        fl_sel.val(1000);
        bit_sel.val(1000000);
        tp_sel.val(0.270);
    */

        bit_sel.val(1000000);
        distance_sel.val(100);
        fl_sel.val(12000);
        vel_sel.val(200000000);


        $("#calculate").click(function (event) {
            event.preventDefault();

            $(div_results_sel).children().remove();

            var distance = distance_sel.val() === "" ? null : distance_sel.val();
            var velocity = vel_sel.val() === "" ? null : vel_sel.val();
            var framelenght = fl_sel.val() === "" ? null : fl_sel.val();
            var bitrate = bit_sel.val() === "" ? null : bit_sel.val();
            var fp = tp_sel.val() === "" ? null : tp_sel.val();
            var ft = tf_sel.val() === "" ? null : tf_sel.val();
            var a = a_sel.val() === "" ? null : a_sel.val();
            var utilization = u_sel.val() === "" ? null : u_sel.val();
            var w = w_sel.val() === "" ? 1 : w_sel.val();
            var frame_bits = frame_bits_sel.val() === "" ? 1 : frame_bits_sel.val();

            var request = {
                distance: distance,
                velocity: velocity,
                frameLenght: framelenght,
                bitrate: bitrate,
                tp: fp,
                tf: ft,
                a: a,
                u: utilization,
                windows: w,
                bits: frame_bits
            };


            $.ajax({
                url: location.origin + "/arq",
                type: 'put',
                data: JSON.stringify(request),
                dataType: 'json',
                contentType: "application/json"

            }).done(function (data) {
                for (var i = 0; i < data.length; i++) {

                    console.log(data[i]);

                    var divResult = $('<div>', {
                        class: 'form-row'
                    });

                    var divDistance = $('<div>', {
                        class: "col"
                    });

                    /* $('<input>', {
                         type: 'text',
                         val: $('#div1').text()
                     })*/
                    $(divDistance).append($('<input/>', {
                            id: "distance" + i,
                            value: data[i].distance,
                            class: "form-control",
                            placeholder:'Distance'
                        })
                    );

                    var divVelocity = $('<div>', {
                        class: "col"
                    });

                    $(divVelocity).append($('<input/>', {
                            id: "velocity" + i,
                            value: data[i].velocity,
                            class: "form-control",
                            placeholder:'Velocity'
                        })
                    );

                    var divFrameLenght = $('<div>', {
                        class: "col"
                    });
                    $(divFrameLenght).append($('<input/>', {
                            id: "frameLenght" + i,
                            value: data[i].frameLenght,
                            class: "form-control",
                            placeholder:'Frame Lenght'
                        })
                    );

                    var divBitrate = $('<div>', {
                        class: "col"
                    });
                    $(divBitrate).append('<input/>', {
                        id: "bitrate" + i,
                        value: data[i].bitrate,
                        class: "form-control",
                        placeholder:'Bit Rate'
                    });

                    var divTp = $('<div>', {
                        class: "col"
                    });
                    $(divTp).append($('<input/>', {
                            id: "tp" + i,
                            value: data[i].tp,
                            class: "form-control",
                            placeholder:'Propagation time'
                        })
                    );

                    var divTf = $('<div>', {
                        class: "col"
                    });
                    $(divTf).append($('<input/>', {
                            id: "tf" + i,
                            value: data[i].tf,
                            class: "form-control",
                            placeholder:'Frame time'
                        })
                    );

                    var divA = $('<div>', {
                        class: "col"
                    });
                    $(divA).append($('<input/>', {
                            id: "a" + i,
                            value: data[i].a,
                            class: "form-control",
                            placeholder:'A'
                        })
                    );

                    var divU = $('<div>', {
                        class: "col"
                    });
                    $(divU).append($('<input/>', {
                            id: "u" + i,
                            value: data[i].u,
                            class: "form-control",
                            placeholder:'Utilization'
                        })
                    );

                    var divWindows = $('<div>', {
                        class: "col"
                    });
                    $(divWindows).append($('<input/>', {
                            id: "windows" + i,
                            value: data[i].windows,
                            class: "form-control",
                            placeholder:'Windows'
                        })
                    );

                    var divBits = $('<div>', {
                        class: "col"
                    });
                    $(divBits).append($('<input/>', {
                            id: "bits" + i,
                            value: data[i].bits,
                            class: "form-control",
                            placeholder:'Sequence bits'
                        })
                    );

                    divResult.append($(divDistance));
                    divResult.append($(divVelocity));
                    divResult.append($(divFrameLenght));
                    divResult.append($(divA));
                    divResult.append($(divTp));
                    divResult.append($(divTf));
                    divResult.append($(divA));
                    divResult.append($(divU));
                    divResult.append($(divWindows));
                    divResult.append($(divBits));

                    div_results_sel.append('<h5>Result '+data[i].name+'</h5>');
                    div_results_sel.append(divResult);

                    /*
                    var div = $('<div>', {
                        id: 'div' + algorithms[i],
                    });
                    $(div).append('<h1/>').html(algorithms[i]);
                     */

                    /*
                                    console.log(data[i]);
                                    distance_sel.val(data[i].distance);
                                    vel_sel.val(data[i].velocity);
                                    fl_sel.val(data[i].frameLenght);
                                    bit_sel.val(data[i].bitrate);
                                    tp_sel.val(data[i].tp);
                                    tf_sel.val(data[i].tf);
                                    a_sel.val(data[i].a);
                                    u_sel.val(data[i].u);

                                    w_sel.val(data[i].windows);
                                    frame_bits_sel.val(data[i].bits);
                                    */
                }
            }).fail(function (data) {
                // alert("Error");
            });

        });
    });
</script>

</body>
</html>